body{
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; }

 main {
        background-color: rgb(216, 216, 216);
        padding: 50px;
        grid-column: 1 / 8;
        margin: 3% 0 3% 10%;
        box-shadow: 20px 10px  rgb(39, 39, 39);
    }

/* header*/
    header{ 
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        padding: 0 40px;
        font-family: 'VT323', monospace;
        
        
    }
.wrapper {
    padding: 10px;
}
.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
    font-size: 25px;
   
}

.header-navigation li {
    margin-right: 30px;
}

.header-navigation li:last-child {
    margin-right: 5px;
}


  .main-container {
        background-color: rgb(75, 75, 75);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .homepage-photo {
        max-width: 40%;
    }

    .homepage-info p {
        color: #fff;
        background-color: black;
        border-radius: 20px;
        padding: 10px;
    }

    /* Sidebar*/
.sidebar {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
}
    .sidebar-list {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sidebar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
    }

    .sidebar-item i {
        font-size: 50px;
    }

    .sidebar-description {
        background-color: rgb(177, 174, 174);
        margin-top: 5px;
    }